<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">
            <label for="username">로그인</label>

        <!-- <form th:action="@{/member/M2loginform}" th:method="post">        
            <br>
            <label for="password">ID</label>
            <input id="id" name="id" type="text">
            <br>

            <label for="password">Password</label>
            <input id="pw" name="pw" type="password">
            <br>

            <input type="submit" value="submit">
        </form> -->


        <form class="form-validate"  th:action="@{/member/M2loginform}"  th:method="post">
            <div>
                <div class="form-group">
                <label class="form-label" for="loginUsername">사용자 ID</label>
                <input class="form-control" name="loginUsername" required data-msg="Please enter your password" id="loginUsername" type="text" placeholder= "ID" autocomplete="off">
                </div>
                <div class="form-group mb-4">
                <div class="row">
                    <div class="col">
                    <label class="form-label" for="loginPassword"> 사용자 Password</label>
                    </div>
                    <div class="col-auto"><a class="form-text small" href="#">Forgot password?</a></div>
                </div>
                <input class="form-control" name="loginPassword" required data-msg="Please enter your password" id="loginPassword" placeholder="Password" type="password">
                </div>
                <div class="form-group mb-4">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="loginRemember" type="checkbox">
                    <label class="custom-control-label text-muted" for="loginRemember"> <span class="text-sm">Remember me for 30 days</span></label>
                </div>
                </div>
                <!-- Submit-->
                <button type="submit" class="btn btn-primary">로그인</button>
                <a class="btn btn-primary" type="button" th:href="@{index}">홈으로</a>
               <!--<button class="btn btn-sg btn-block btn-primary">Sign in</button>-->

                <hr class="my-3 hr-text letter-spacing-2" data-content="OR">
                <hr class="my-4">
                <p class="text-center"><small class="text-muted text-center">Don't have an account yet? <a href="signup.html">Sign Up                </a></small></p>
            </form>
        </div>
    </th:block>

</th:block>