<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4"> 회원 가입 </h1>

        <form th:action="@{/member/M2register}" th:method="post">
            <div class="form-group">
                <label >idno</label>
                <input type="text" class="form-control" name="idno" placeholder="사용자 id를 입력하세요">
            </div>
            <div class="form-group">
                <label >password</label>
                <input type="password" class="form-control" name="password" placeholder="사용자 password를 입력하세요"></input>
            </div>
            <div class="form-group">
                <label >E-mail</label>
                <input type="email" class="form-control" name="email" placeholder="ex) AAA@naver.com // 형식에 맞게 입력하세요">
            </div>

            <button type="submit" class="btn btn-primary">등록하기</button>
    	 <!--  	<a class="btn btn-primary" type="button" th:href="@{/}">취소</a>-->

        </form>

    </th:block>

</th:block>