<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">GuestBook Modify Page</h1>
        
        <h2 class="mt-4">자유 게시판에 글을 작성해보세요</h2>
        
		
		
		
		<button type="button" th:onclick="demo()"> Show Alert</button>
		<button type="button" th:onclick="aa()"> AA </button>




	<script th:javascript>
		function aa(){
			var age = 21;
			if (age >= 20){
			alert("성공입니다. 100 100  축하합니다.");
			}
			if(age <20){
				alert("20보다 작습니다.");
			}
		}
	</script>
	


    </th:block>

</th:block>